<div class="outer-container" [ngStyle]="{'filter': book.isBookLoad || book.viewbook || book.editbook? 'blur(8px)' : 'blur(0px)' }">
    <div class="inner-container" *ngIf="!book.viewbook && !book.isBookLoad && !book.editbook">
        <div class="search">
            <mat-form-field class="search-bar">
                <input  autocomplete="off" class="search-input" [(ngModel)]="searchKey" matInput placeholder="Search">
                <mat-icon (click)="searchBarCloseBtn()" matSuffix style="color: rgb(192, 189, 189); cursor: pointer;">
                    cancel
                </mat-icon>
            </mat-form-field>
        </div>
        <div class="new">
            <div *ngIf="book.isLoading">
                <mat-progress-spinner style="left:40%;position: absolute;z-index: 2;top: 300px;"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="book-list" *ngFor="let books of book.bookdata; index as index">
                <div style="height: 80px;"
                    *ngIf="books.bookname.concat().toLowerCase().includes(searchKey.toLowerCase()) || books.authorname.concat().toLowerCase().includes(searchKey.toLowerCase())">
                    <mat-card class="book-card">
                        <mat-card-header class="one-book" (click)="openBookDetails(index)">
                            <mat-card-title>{{book.bookdata[index].bookname}}</mat-card-title>
                            <mat-card-subtitle>{{book.bookdata[index].authorname}}</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                    <mat-icon class="delete-button" (click)="deleteaBook(book.bookdata[index].id)">delete</mat-icon>
                </div>

            </div>
        </div>



    </div>
    <mat-icon *ngIf="!book.isBookLoad && !book.viewbook && !book.editbook" class="add-button" (click)="addbook()">add_circle</mat-icon>
</div>


<div class="add-book" *ngIf="book.isBookLoad">
    <div class="add-book-container">
        <app-add-new-book></app-add-new-book>
    </div>
</div>



<div class="view-book" *ngIf="book.viewbook && !book.editbook">
    <div class="view-book-container">
        <mat-card class="book-details">
            <mat-card-header>
              <mat-card-title>Book Name  : {{book.bookdata[book.bookindex].bookname}}</mat-card-title>
              <mat-card-title>Author Name : {{book.bookdata[book.bookindex].authorname}}</mat-card-title>
              <mat-card-subtitle>Published Year : {{book.bookdata[book.bookindex].publishedyear}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="book-content">
              <p>
                {{book.bookdata[book.bookindex].description}}
              </p>
            </mat-card-content>
            <mat-card-header>
              <mat-card-title>price : {{book.bookdata[book.bookindex].bookprice}}</mat-card-title>  
              
            </mat-card-header>
            <div style="margin-left: 5%;">
                <button style="width:30%; margin-right: 10px;" mat-raised-button color="primary">Buy</button>
                <button style="width:30%; margin-right: 10px;" mat-raised-button color="warn" (click)="book.viewbook=false">Cancel</button>
                <button style="width:30%" mat-raised-button  (click)="editBookDetails()">Edit</button>
            </div>
          </mat-card>
          
        
    </div>
</div>


<div class="edit-book" *ngIf="!book.viewbook && book.editbook">
    <div class="edit-book-container">
        <mat-card class="book-details">
            <h3 class="title">Edit Book Details</h3>
            <form #editabook="ngForm" class="edit-form">
                <div class="edit-form-container">
                    <div>
                        <mat-form-field class="edit-form-field">
                            <mat-label>Book Name</mat-label>
                            <input matInput  autocomplete="off" [(ngModel)]="selected_book.bookname" [formControl]="bookNameFormControl">
                        </mat-form-field>
                    </div>
                   <div>
                    <mat-form-field class="edit-form-field">
                        <mat-label>Author Name</mat-label>
                        <input matInput  autocomplete="off" [(ngModel)]="selected_book.authorname" [formControl]="authorNameFormControl">
                    </mat-form-field>
                   </div>
                   <div *ngIf="book.isLoading">
                    <mat-progress-spinner style="left:40%;position: absolute;z-index: 2;"  mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                   <div>
                    <mat-form-field style="width: 30%;margin-left:5%;">
                        <mat-label>Published Year</mat-label>
                        <input matInput  autocomplete="off" [(ngModel)]="selected_book.publishedyear" [formControl]="publishedYearFormControl">
                    </mat-form-field>
                   </div>
                   <div>
                    <mat-form-field class="edit-form-field">
                        <mat-label>Description</mat-label>
                        <textarea matInput rows="4" autocomplete="off" [(ngModel)]="selected_book.description" [formControl]="descriptionFormControl"></textarea>
                    </mat-form-field>
                   </div>
                   <div>
                    <mat-form-field style="width: 30%;margin-left: 5%;">
                        <mat-label>Quantity</mat-label>
                        <input matInput  autocomplete="off" [(ngModel)]="selected_book.quantity" [formControl]="quantityFormControl">
                    </mat-form-field>
                   </div>
                   <div>
                    <mat-form-field style="width:30%;margin-left: 5%;">
                        <mat-label>Price</mat-label>
                        <input matInput  autocomplete="off" [(ngModel)]="selected_book.bookprice" [formControl]="priceFormControl">
                    </mat-form-field>
                   </div>
                    <div style="float: right;width: 100%;margin-bottom: 20px;">
                        <button mat-raised-button color="primary" style="margin-right: 10px;width: 20%;margin-left: 52%;" (click)="saveChanges()">save</button>
                        <button mat-raised-button color="warn" style="width: 20%;" (click)="book.editbook=false">cancel</button>
                    </div>
                </div>
            </form>  
            
          </mat-card>
          
        
    </div>
</div>